
.right-section {
    float: right;
    background: rgba(20, 1, 30, 0.84);
    position: fixed;
    right: 0;
    height: 100%;
    z-index: 12;
}

.right-section {
    position: absolute;
    right: 0;
    width: 53vh;
    height: 100%;
}





@-webkit-keyframes slideIn {
  0% {
    transform: translateX(600px);
     opacity: 0;
  }
  100% {
    transform: translateX(0);
     opacity: 1;
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(600px);
     opacity: 0;
  }
  100% {
    transform: translateX(0);
     opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(600px);
     opacity: 0;
  }
  100% {
    transform: translateX(0);
     opacity: 1;
  }
}
@media screen and (min-width: 1200px){
.fp-viewing-1 .right-section, .fp-viewing-2 .right-section, .fp-viewing-3 .right-section, .fp-viewing-4 .right-section, .fp-viewing-5 .right-section, .fp-viewing-6 .right-section, .fp-viewing-7 .right-section, .fp-viewing-8 .right-section, .fp-viewing-9 .right-section, .fp-viewing-10 .right-section, .fp-viewing-11 .right-section, .fp-viewing-12 .right-section, .fp-viewing-13 .right-section, .fp-viewing-14 .right-section, .fp-viewing-15 .right-section, .fp-viewing-16 .right-section, .fp-viewing-17 .right-section, .fp-viewing-18 .right-section{
	 -webkit-animation: slideOut 2s forwards;
	 -moz-animation: slideOut 2s forwards;
	 animation: slideOut 2s forwards;
}}

@media screen and (max-width: 1199px){
.fp-viewing-0 .right-section, .fp-viewing-1 .right-section, .fp-viewing-2 .right-section, .fp-viewing-3 .right-section, .fp-viewing-4 .right-section, .fp-viewing-5 .right-section, .fp-viewing-6 .right-section, .fp-viewing-7 .right-section, .fp-viewing-8 .right-section, .fp-viewing-9 .right-section, .fp-viewing-10 .right-section, .fp-viewing-11 .right-section, .fp-viewing-12 .right-section, .fp-viewing-13 .right-section, .fp-viewing-14 .right-section, .fp-viewing-15 .right-section, .fp-viewing-16 .right-section, .fp-viewing-17 .right-section, .fp-viewing-18 .right-section{
	   -webkit-animation-name: fadesout;
    -moz-animation-name: fadesout;
    -o-animation-name: fadesout;
    animation-name: fadesout;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    opacity: 0;
}}

@-webkit-keyframes slideOut {
  0% {
    transform: translateX(0px);
     opacity: 1;
  }
  100% {
    transform: translateX(500px);
     opacity: 0;
  }
}
@-moz-keyframes slideOut {
  0% {
    transform: translateX(0px);
     opacity: 1;
  }
  100% {
       transform: translateX(500px);
       opacity: 0;
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0px);
     opacity: 1;
  }
  100% {
        transform: translateX(500px);
     opacity: 0;
  }
}


@media screen and (min-width: 1200px){
.fp-viewing-1 .right-section.right-section-toggle, .fp-viewing-2 .right-section.right-section-toggle, .fp-viewing-3 .right-section.right-section-toggle, .fp-viewing-4 .right-section.right-section-toggle, .fp-viewing-5 .right-section.right-section-toggle, .fp-viewing-6 .right-section.right-section-toggle, .fp-viewing-7 .right-section.right-section-toggle, .fp-viewing-8 .right-section.right-section-toggle, .fp-viewing-9 .right-section.right-section-toggle, .fp-viewing-10 .right-section.right-section-toggle, .fp-viewing-11 .right-section.right-section-toggle, .fp-viewing-12 .right-section.right-section-toggle, .fp-viewing-13 .right-section.right-section-toggle, .fp-viewing-14 .right-section.right-section-toggle, .fp-viewing-15 .right-section.right-section-toggle, .fp-viewing-16 .right-section.right-section-toggle, .fp-viewing-17 .right-section.right-section-toggle, .fp-viewing-18 .right-section.right-section-toggle
{
	 -webkit-animation: slideIn 0.7s forwards;
	 -moz-animation: slideIn 0.7s forwards;
	 animation: slideIn 0.7s forwards;
}}

.right-show-arrows{
	z-index: 22;
	-moz-transform: rotate(180deg); /* Ð”Ð»Ñ Firefox */
	-ms-transform: rotate(180deg); /* Ð”Ð»Ñ IE */
	-webkit-transform: rotate(180deg); /* Ð”Ð»Ñ Safari, Chrome, iOS */
	-o-transform: rotate(180deg); /* Ð”Ð»Ñ Opera */
	transform: rotate(180deg);
	margin-top: 0;
	background-color:  initial;
}

span.undertitle {
    display: block;
    font-size: 2.3vh;
    font-family: 'GothamPro';
    opacity: 0.5;
    margin-bottom: 4vh;
    position:  relative;
    line-height: 3vh;
}

span.undertitle:before {
    content: '';
    position: absolute;
    width: 7vh;
    height: 0.2vh;
    background: #fff;
    margin-top: 0;
    bottom: -1.3vh;
}




#demo {
		font-size: 7vh;
		color: #fff;
		overflow:  hidden;
		clear:  both;
		padding-bottom: 5vh;
	}
	#demo>div {
		float: left;
		position: relative;
	}
	.time-days {
		width: 11.5vh;
	text-align: center;

	}
	.time-hours {
	width: 11.5vh;
	text-align: center;
	
	}
	.time-minutes {
			width: 11.5vh;
text-align: center;
	}
	.time-seconds {
		width: 11.5vh;
text-align: center;
	}
	div#demo {
    margin-left: -2vh;
    margin-right: -2vh;
    position: relative;
}
	.time-days:before  {
		content: 'Days';
		  font-family: 'GothamPro';
	}
	.time-hours:before {
	    content: 'Hours';
	      font-family: 'GothamPro';
	}
	.time-minutes:before {
	    content: 'Minutes';
	      font-family: 'GothamPro';
	}
	.time-seconds:before {
	    content: 'Seconds';
	      font-family: 'GothamPro';
	}
	
	#demo div:before {
	    font-size: 2vh;
	    color: #fff;
	    position: absolute;
	    opacity: 0.5;
	    bottom: -2vh;
	    text-align: center;
	    width: 11.5vh;
	    left:  0;
	}
	
	.time-days:after {
    content: ':';
    position: absolute;
    font-size: 5vh;
    padding-left: 0;
    padding-top: 0.3vh;
    right: -0.7vh;
}

.time-hours:after {
    content: ':';
    position: absolute;
    font-size: 5vh;
    padding-left: 0;
    padding-top: 0.3vh;
    right: -0.7vh;
}

.time-minutes:after {
    content: ':';
    position: absolute;
    font-size: 5vh;
    /* padding-left: 0.8vh; */
    /* padding-top: 0.3vh; */
    padding-left: 0;
    padding-top: 0.3vh;
    right: -0.7vh;
}

.sale-card-top button {
    font-family: 'GothamPro';
    font-size: 2.3vh;
    background: none;
    color: #fff;
    border: 1px solid #835c9d;
    border-radius: 0.5vh;
    padding: 1.4vh;
    margin-right: 0;
    margin-top: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-bottom: 7vh;
    width: 100%;
    text-transform: none;
}

span.collected-now {
    text-align: left;
    display: block;
    font-size: 2.2vh;
    margin-top: 1vh;
}

.sale-card-top button:hover {
    color: #3BB0EB;
}

.sale-card-bottom {
    margin-left: -5vh;
    margin-right: -5vh;
    background: rgba(55, 7, 119, 0.44);
    padding: 6vh 5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.collected-cost span {
    font-size: 9.8vh;
    text-align: left;
    display: block;
}


.socials-area ul li{
	display: inline-block;
}

.socials-area ul li a{
	width: 3.5vh;
	height: 3.5vh;
	display: block;
	margin-right: 1.5vh;
}

.socials-area ul li .soc1{
	background: url(../images/soc1.png) 0 0 no-repeat;
	background-size: contain;
}
.socials-area ul li .soc2{
	background: url(../images/soc2.png) 0 0 no-repeat;
	background-size: contain;
}
.socials-area ul li .soc3{
	background: url(../images/soc3.png) 0 0 no-repeat;
	background-size: contain;
}
.socials-area ul li .soc4{
	background: url(../images/soc4.png) 0 0 no-repeat;
	background-size: contain;
}
.socials-area ul li .soc5{
	background: url(../images/soc5.png) 0 0 no-repeat;
	background-size: contain;
}
.socials-area ul li .soc6{
	background: url(../images/soc6.png) 0 0 no-repeat;
	background-size: contain;
}
.socials-area ul li .soc7{
	background: url(../images/soc7.png) 0 0 no-repeat;
	background-size: contain;
}


@media screen and (min-width: 1200px){
.fp-viewing-0 .right-section {
 -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
  opacity: 0;
       animation-duration: 2s;
}
}